@import './tailwind';
@import './mixins.scss';


*{
    border: 1px solid hotpink;
    font-family: 'Unbounded', sans-serif;  
    font-family: 'Space Grotesk', sans-serif; 
    
}

// h1{
//     @apply text-[#000C79] font-bold  text-6xl ;
// }

// h2{
//     @apply text-[#000C79] font-semibold leading-5 text-3xl ;
// }

.link {
    @apply flex justify-end items-end bg-[#B8FE43] text-[#163570] text-2xl py-2 px-8 hover:font-bold ;

    &--ativo {
        @apply font-bold text-2xl text-[#163570] bg-no-repeat bg-right bg-[url(src/fonts/seta-azul.svg)];
    }
}

.lista {
    @apply divide-y flex flex-row md:flex-col gap-4 md:gap-0;
}

.item {
    @apply py-4 ;
}

.teste {
    @apply flex justify-items-stretch items-center space-x-4 ;
}

.conheca-je {

    &__container {
        @apply container mx-auto px-4 ;

        &__sub {
            @apply flex space-x-4 ;
        }
    }
    

    &__imagem {
        @apply flex ;
    }

    &__grid {
        @apply grid grid-cols-2 ;
    }
    
    @import './header.scss';
    @import './glossario.scss';
    @import './quiz.scss';
    
}