$linksvg: "data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3057 8.46473C14.9278 8.46473 14.6205 8.77211 14.6205 9.14997V14.5752C14.6205 15.1007 14.1929 15.5282 13.6675 15.5282H2.32346C1.798 15.5282 1.37048 15.1007 1.37048 14.5752V3.23119C1.37048 2.70573 1.798 2.27821 2.32346 2.27821H7.74871C8.12657 2.27821 8.43395 1.97084 8.43395 1.59297C8.43395 1.21511 8.12657 0.907867 7.74871 0.907867H2.32346C1.04227 0.907867 0 1.95014 0 3.23119V14.5752C0 15.8564 1.04227 16.8987 2.32346 16.8987H13.6675C14.9487 16.8987 15.9909 15.8564 15.9909 14.5752V9.14997C15.9909 8.77211 15.6836 8.46473 15.3057 8.46473Z' fill='%23163570'/%3E%3Cpath d='M15.2199 0.898682H11.3673C11.1866 0.898682 11.0161 0.968356 10.8872 1.09499C10.7585 1.22135 10.6857 1.39032 10.6822 1.57053C10.6787 1.75276 10.7484 1.92593 10.8781 2.05825C11.0095 2.19218 11.192 2.26903 11.3785 2.26903H13.6633L7.5194 8.42835C7.25261 8.69569 7.25301 9.13037 7.52062 9.39757C7.65009 9.5265 7.82191 9.59753 8.00441 9.59753C8.18692 9.59753 8.36022 9.52596 8.48956 9.39621L14.6294 3.24108V5.7507C14.6294 5.93145 14.6991 6.10192 14.8257 6.23085C14.9521 6.35951 15.121 6.43229 15.3013 6.43581C15.4832 6.43946 15.6567 6.36979 15.789 6.23991C15.9229 6.10854 15.9998 5.92604 15.9998 5.73948V1.67876C15.9998 1.24868 15.6498 0.898682 15.2197 0.898682H15.2199Z' fill='%23163570'/%3E%3C/svg%3E%0A";

&__glossario {

    &__hide{
        @apply  hidden md:block;
    }

    &__grid{
        @apply grid grid-cols-1 xl:grid-cols-2 ;
    }

    &__flex{
        @apply flex flex-row ;

        &-basis{
            @apply basis-1/2;
        }
    }

    &__bg {
        &-brasil {
            @apply bg-local bg-contain bg-no-repeat bg-center bg-[url("../../src/fonts/brasilbg.svg")] min-h-[700px] sm:min-h-[600px] md:min-h-[1000px] md:max-h-[1000px];
            
        }
    
        &-explicatse {
            @apply rounded-full py-4 space-x-2 text-center text-4xl text-[#FFF] bg-[#A13FE6];
            @apply md:w-2/3;
            
            &-exclamacao{
                @apply relative h-20 w-full md:h-44 ;
            }
            &-bold {
                @apply font-bold;
            }
        }
    }
    

    &__fonte{

        &-titulo{
           @apply text-[#000C79] font-semibold  text-3xl p-2 overflow-hidden	text-center ; 
          
        }

        &-subtitulo {
            @apply text-[#000C79]  text-lg mt-8 tracking-wide leading-loose p-2 overflow-hidden	;
           
        }

        &-link{
            @apply text-xl text-blue-800 font-bold hover:font-bold hover:underline ;
          
        }
        
        

    }
    
    &__posicao{

        &-estados{
            @apply  py-8 mt-16 pl-2 md:pl-10 ;
        }

        &-container{
            @apply md:p-32  ;
        }

        &-container-infos {
            @apply pt-16 md:p-24 ;
        }

        &-arrows {
            @apply mt-2 flex justify-between ;
        }

    }

    &__regioes {
        
        @apply flex flex-col  ;

        &--caixa {

            @apply box-border h-full   border-2 bg-[#B8FE43] rounded-3xl overflow-hidden sm:pr-2;
        }

        &--caixa2 {
            @apply flex flex-col ;
            @apply box-border p-4 border-2 bg-[#D99CD533] rounded-3xl  overflow-hidden	;   
        }
    
    }

    &__conteudo {
        @apply w-full text-[#081326];

        .tabs {
            @apply hidden;

            &--ativo {
                @apply block;
            }

            &__ano {
                @apply text-5xl font-bold p-10; 
            }
        }
        @include nav-tabs();
        @include tab-content();

        .linkinterno {
    
            @apply flex justify-start items-start  text-[#163570] text-lg py-2  hover:font-semibold hover:underline  ;
         
           
            &:hover::after{
                content: url("#{$linksvg}");
                right:30%
            }
    
            &--ativo {
                @apply font-bold  text-[#163570] ;
            }
        }
    }

    &__tre {

        @apply  rounded-full py-4 px-8 text-center text-5xl font-bold text-[#163570] bg-[#B8FE43] w-1/2 md:w-5/12;
    }

    &__imagem {

        @apply absolute right-[-60] top-8 drop-shadow-2xl  ;
        
    }

  

}