@layer components{
    .accordion-header:hover .conheca-je__perguntas__fonte-subtitulo {
        color: black ;
    }
    .accordion-header.active .conheca-je__perguntas__fonte-subtitulo {
        color: black;
    }    
    .accordion-header {
        @apply py-4 px-6 cursor-pointer ;
    }
    .accordion-header.active i {
        @apply transition ease-in-out duration-300 ;
        transform: rotateX(180deg) ;
    }
    .accordion-body {
        @apply max-h-0 overflow-hidden transition-all duration-200 ease-out ;
    }
}


&__perguntas {
    

    @apply space-y-4 ;

    &__alinhar{

        @apply  h-auto ;

        &-centro{
            @apply flex justify-center items-start max-w-4xl mx-auto md:justify-start items-start max-w-4xl mx-auto;
        }

        &-entre{
            @apply flex items-center justify-between  ;
        }

        &-conteudo{
            @apply p-4 border-t ; 
        }


        
       
    }

    &__fonte{

        &-titulo{
            @apply   text-center  rounded-full p-3  text-slate-900 text-2xl mb-3   bg-[#00FF5A] w-full md:text-3xl md:w-1/2 ;

        }
        &-subtitulo{
            @apply font-semibold text-xl text-green-600 md:text-2xl ;
        }
    }

    &__box{

        &-tamanho{
            @apply max-w-2xl mx-auto  ;
        }

        &-borda{
            @apply   bg-black ;
        }

        &-borda2{
            @apply border-2 border-gray-300 bg-white hover:bg-green-500 hover:text-white;
        }
    }

 

}