
&__quiz {

    &__hide{
        @apply  hidden xl:block;
    }

    &-teste2{
        @apply rounded-full  ;
    }

    &-teste3{
        @apply bg-gradient-to-r from-black  ;
    }


    &__fonte{
        
        &-titulo{
            @apply  text-center font-bold p-3 text-4xl text-[#000C79] md:text-5xl ;
        }

        &-titulo2{
            @apply text-[#00DB4D] font-bold  text-4xl  md:text-5xl ;
        }

        &-texto1{
            @apply text-4xl font-bold xl:text-start lg:text-6xl font-bold mr-2 text-center ;
        }

        &-texto2{
            @apply text-3xl font-bold xl:text-start lg:text-4xl font-bold text-center ;
        }

        &-perguntas{
            @apply text-3xl font-bold text-center mt-5 ;
        }

        &-placar{
            &-erro{
                @apply text-3xl font-bold text-white text-center md:text-start ;
            }
            &-acerto{
                @apply text-3xl font-bold text-white text-center md:text-end ;
            }
        }

        &-glossario{
            @apply text-4xl font-bold hover:underline ;
        }
    }

    &__box{

      
        @apply  xl:grid grid-cols-1  2xl:grid grid-cols-2 ;

        &-tamanho{
            @apply max-w-6xl h-96 mx-auto ;

            &-glossario{
                @apply max-w-4xl mx-auto  ;
            }

            &-button{
                @apply max-w-lg mx-auto mt-10 ;
            }
            &-placar{
                @apply max-w-lg mx-auto  ;

                &-inferior{
                    @apply hidden md:block max-w-sm mx-auto h-4 rounded-b-full bg-yellow-500 ;
                }
            }
            
            
        }

        &-borda{
            @apply   bg-black md:w-1/2 ;
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0 99%, 0 41%);
        }

        &-borda2{
            @apply border-4 border-black bg-white   ;
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0 99%, 0 41%);
        }


        &-position{
            @apply relative top-[5px] left-[5px];
        }

        &-botao{
            @apply rounded-full bg-white shadow-lg p-2 text-xl ;
        }



    }

    &__bg{
        @apply bg-no-repeat bg-bottom bg-[url("../../src/fonts/game-quiz.svg")] ;

        &-placar{
            @apply z-0 bg-no-repeat bg-center bg-[url("../../src/fonts/placar-bg-centro.svg")] ;

            &-centro{
                @apply   bg-no-repeat bg-center  bg-gradient-to-t from-black to-gray-400 ;
            }

            &-topo{
                @apply bg-yellow-500 ;
                clip-path: polygon(30% 0, 75% 0, 100% 100%, 0 100%);
            }

        }

        &-glossario{

          
            &-baixo{
                @apply bg-no-repeat bg-right-bottom bg-[url("../../src/fonts/colchete-baixo.svg")] ;
            }
        }
    
    }

    &__alinhar{

        @appply  relative justify-center items-center max-w-4xl mx-auto ;

        &-centro{
            @apply flex  justify-center items-center  mx-auto;
        }


    }


    &__perguntas {

        @apply  w-96  rounded-full p-3 text-center text-3xl place-self-start  bg-[#B8FE43] ;
    }

    &__grid {

        &-botao{
            @apply grid grid-cols-2 gap-10 ; 
        }

        &-placar{
            @apply grid grid-cols-11 ;

            &-acertos{
                @apply col-span-4 md:col-span-3;
            }
            &-erros{
                @apply col-span-4 md:col-span-3;
            }
            &-contador{
                @apply col-span-3 md:col-span-5;
            }
        }

        &-glossario{
            @apply grid grid-flow-col auto-cols-auto gap-4 ;
        }
    }

}