@tailwind base;
@tailwind components;
@tailwind utilities;

@import './mixins.scss';


*{
    border: 1px solid hotpink;
    font-family: 'Unbounded', sans-serif;  
    font-family: 'Space Grotesk', sans-serif; 
    
}


p {
    @apply mb-4;
}

.link {
    @apply flex justify-center items-center bg-[#B8FE43] text-[#163570]  py-2 px-2  hover:font-bold text-lg sm:text-2xl ;

    &--ativo {
        @apply font-bold  text-[#163570] bg-no-repeat bg-right bg-[url(../../src/fonts/seta-azul.svg)] text-lg sm:text-2xl;
    }
}

.link2 {
    @apply flex justify-center items-end bg-white text-[#163570] text-3xl  hover:font-bold ;

    &--ativo {
        @apply font-bold text-3xl text-[#163570] bg-no-repeat bg-right bg-[url(../../src/fonts/seta-azul.svg)];
    }
}



.lista {
    @apply divide-y flex flex-row md:flex-col gap-4 md:gap-0;
}

.item {
    @apply py-4 ;
}

.teste {
    @apply flex justify-items-stretch items-center space-x-4 ;
}

.conheca-je {

    &__container {
        @apply container mx-auto px-4 py-4 my-auto ;

        &__sub {
            @apply flex space-x-4 ;
        }
    }
    

    &__imagem {
        @apply flex  ;
    }

    &__grid {
        @apply grid grid-cols-2 ;
    }
    
    @import './header.scss';
    @import './glossario.scss';
    @import './quiz.scss';
    @import './perguntas.scss';
    @import './playlists.scss';
    @import './historia.scss';
    @import './90anos.scss';
    @import './calendario.scss';

    
}